InvestmentPortfolioManager/IpmUI/SampleData/PortfolioSummarySampleData/PortfolioSummarySampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.PortfolioSummarySampleData" targetNamespace="Expression.Blend.SampleData.PortfolioSummarySampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PortfolioSummarySampleData" type="tns:PortfolioSummarySampleData" />
  <xs:complexType name="PortfolioSummarySampleData">
    <xs:sequence>
      <xs:element name="Accounts" type="tns:Accounts" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AccountsItem" type="tns:AccountsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountsItem">
    <xs:attribute blend:Format="Price" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Description" type="xs:string" />
    <xs:attribute name="Currency" type="xs:string" />
    <xs:attribute blend:Format="Price" name="BookValue" type="xs:string" />
    <xs:attribute blend:Format="Price" name="MarketValue" type="xs:string" />
    <xs:attribute blend:Format="Date" name="MarketValueTimestamp" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="Cash" type="xs:string" />
    <xs:attribute blend:Format="Price" name="Yield" type="xs:string" />
    <xs:attribute blend:Format="Price" name="ReturnPercent" type="xs:string" />
    <xs:attribute blend:Format="Price" name="ReturnAmount" type="xs:string" />
  </xs:complexType>
</xs:schema>