InvestmentPortfolioManager/IpmUI/SampleData/HomeViewSampleData/HomeViewSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.HomeViewSampleData" targetNamespace="Expression.Blend.SampleData.HomeViewSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HomeViewSampleData" type="tns:HomeViewSampleData" />
  <xs:complexType name="HomeViewSampleData">
    <xs:sequence>
      <xs:element name="Profiles" type="tns:Profiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProfilesItem" type="tns:ProfilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfilesItem">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>